* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    width: 90%;
    margin: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom right, rgb(214, 81, 28), rgb(201, 122, 98));
}

body>h1 {
    font-style: oblique;
    color: white;
}

body>table {
    font-style: italic;
}

body #q {
    font-size: 25px;
}

.butt {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px 30px;
    border: none;
    background-color: rgb(255, 153, 0);
}